<div class="row" id="add-row">
	<div class="col-md-6">
		<h2> Add Your Own Great-America Occupation! </h2>
		<h3> Custom responses will be reviewed and, if worthy, posted here in a day</h3>
		<div class="col-md-8">
			<form id="add-form" method="post" action="/add">
				<div class="form-group">
					<input type="name" name="title" class="form-control" placeholder="Job Title" required>
				</div>
				<div class="form-group">
					<input type="paragraph" name="description" class="form-control" placeholder="Job Description" required>
				</div>
				<div class="form-group">
					<input type="link" name="gif" class="form-control" placeholder="Link to Gif (Optional)">
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-default">Submit Job</button>
				</div>
			</form>
		</div>
	</div>
</div>


