<div class="row" id="form-row">

	<!-- Response (Starts Hidden) -->
	<div class="col-md-6" id="res-col">
	
	</div>
	
	<!-- Form (Starts Showing) -->
	<div class="col-md-8" id="form-col">
		<form  id="form">
			<div class="form-group">
				<input type="name" name="first" class="form-control" placeholder="First Name" required>
			</div>
			<div class="form-group">
				<input type="name" name="last" class="form-control" placeholder="Last Name" required>
			</div>
			<div class="form-group">
				<input type="name" name="occupation" class="form-control" placeholder="Current Occupation" required>
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-default">Let's Make America Great Again!</button>
			</div>
		</form>
	</div>
</div>
