<div class="row">
	<h2><%= @jobTitle %></h2>
	<p><%= @jobDescription %> </p>
</div>

<div class="row" style="margin-top: 50px;">
	<a class="btn btn-default" href="/" role="button">
		Again
	</a>
	<a class="btn btn-default" href="/add" role="button">
		Add Your Own
	</a>
	<a class="btn btn-default" href="#" role="button">
		Share
	</a> 
</div>

