<div class="col-md-6" id="res-col">
	<div class="row" id="nav" style="margin-top: 50px;">
		<h2>Thank You</h2>
		<div class="col-md-5 col-sm-12" id="again" style="margin-top: 100px;">
			<a href="/"><button id="again-btn" class="btn btn-default pull-left">
				Apply Again
			</button></a>
		</div>

		<div class="col-md-5 col-sm-12" id="share">
			<button id="share-btn" class="btn btn-default pull-right">
				Share
			</button>
		</div>
	</div>
</div>
