//Custom Style

@media (min-width: 768px) {
	 h1 { font-size: 28px;} 
}

body {
	background-color: #2b325f;
	color: #fff;
}

div {
	text-align: center;
	.titlepane {
		text-align: center;
	}
	text-align: center;
}

h1 {
	font-family: 'Old Standard TT', serif;
	font-size: 46pt;
	font-weight: 400;
	line-height: 1.2;
}

h2 {
	font-family: 'Montserrat', sans-serif;
	font-size: 38.5px;
	line-height: 1.1;
}

p {
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	line-height: 30px;
}


.titlepane {
	margin: 40px;
	text-align: center;
}

.form-group {
	text-align: center;
	margin: 35px 0px;
}
.form-control, .btn{
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	width: 450px;
	height: 50px;
	color: #2b325f;

}

a.btn {
	width: 280px;
	margin: 15px 15px;
	padding-top: 30px;
	font-size: 24px;
}

.btn-share{
	//SHARE LINKS
}

#res-col {
	text-align: center;
	margin: 10px 15%;
}
